.main {
  @apply bg-white;
  flex: 0 0 auto;
}

.wrapper {
  max-width: var(--container);
  padding: 0 15px;
  margin: 0 auto;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply py-6;
}

.office {
  @apply border-y py-6 text-sm;
  a {
    @apply hover:underline text-black/40;
  }
}

.link {
  @apply flex flex-col text-sm w-1/3 hover:underline;
  span:last-child {
    @apply text-black/40;
  }
}

.image {
  @apply w-1/6;
}
