$container: 1230;
$logo-text-color: var(--main);

.main {
  @apply py-3 border-b bg-white;
}

.inner {
  max-width: $container + px;
  padding: 0 15px;
  @apply mx-auto flex items-center justify-between gap-5;
}

.logo {
  @apply flex items-center gap-2 overflow-hidden;
  &_image {
    @apply w-52 translate-y-1.5;
  }
  &_text {
    color: $logo-text-color;
    @apply text-lg font-bold uppercase;
  }
}

.profile {
  @apply relative flex items-center gap-3 p-1 cursor-pointer;
  .image {
    background: #ced4da no-repeat center / cover;
    @apply w-8 rounded-full aspect-square;
  }
  &:hover {
    .info .list {
      @apply visible opacity-100;
    }
  }
  .info {
    @apply lg:flex flex-col;
    &_name {
      @apply text-[15px];
    }
    &_role {
      @apply text-[13px] text-gray-400;
    }
    .list {
      @apply absolute bg-background z-[1] top-full flex flex-col py-1 border-2 rounded cursor-auto invisible opacity-0 transition;
      .item a {
        @apply px-3 py-2 flex items-center gap-3 text-gray-400 text-sm hover:bg-gray-100 hover:text-black transition-all;
        svg {
          @apply w-5;
        }
      }
    }
  }
}

.actions {
  @apply flex items-center;
  .login {
    color: var(--main);
    border-color: var(--main);
    @apply text-lg px-5 py-1 border rounded font-bold;
    transition: all 0.3s ease;
    &:hover {
      color: #fff;
      background: var(--main);
    }
  }
}
